@use "../abstracts/font-sizes" as fs;
@use "../abstracts/functions" as func;

.close
{
    color: white;
    font-size: func.map-deep-get(fs.$font_sizes, large, 400);
    cursor: pointer;

    &:hover
    {
        color: red;
    }
}