@use "../abstracts/colors" as clr;
@use "../abstracts/functions" as func;
@use "../abstracts/font-sizes" as fs;
@use "../abstracts/mixins";


.profile
{
    @include mixins.flexColumn();
    @include mixins.size(45%, 65%);
    position: relative;
    border-radius: 50%;
    background-image: func.map-deep-get(clr.$colors, radial-gradient, 400);
    cursor: pointer;


    .profile-img
    {
        @include mixins.size(2.8125rem);
        margin: 0 0 0.5rem;
    }

    .profile-name
    {
        @include mixins.typography(clamp(func.map-deep-get(fs.$font_sizes, small, 400), 1.65vw,
            func.map-deep-get(fs.$font_sizes, large, 200)), center);
        color: white;
        text-overflow: ellipsis;
    }

    &:hover
    {
        background-image: radial-gradient(50% 40.76% at 50% 50%, #1A2980 0%, #27B1B0 100%);
    }

    &.active
    {
        animation: 350ms active-profile ease-in-out forwards;
        border-radius: 0.625rem;


        .topbar, ul
        {
            width: 100%;
            padding: 0.5rem;
        }

        .topbar
        {
            @include mixins.flexSpaceBetween();
            border-bottom: 1px solid white;

            & div
            {
                @include mixins.flexCenter();

                .profile-img
                {
                    @include mixins.size(3.125rem);
                }

                .profile-name
                {
                    text-align: left;
                }
            }
        }

        ul
        {
            height: 100%;
            margin: 0;
            color: white;

            li
            {
                @include mixins.typography(clamp(func.map-deep-get(fs.$font_sizes, small, 400), 1.65vw,
                    func.map-deep-get(fs.$font_sizes, large, 200)), center);
            }
        }
    }
}