@use "../abstracts/colors" as clr;
@use "../abstracts/functions" as func;
@use "../abstracts/font-sizes" as fs;
@use "../abstracts/mixins";


.profile
{
    @include mixins.flexColumn();
    @include mixins.size(45%, 65%);
    border-radius: 50%;
    background-image: func.map-deep-get(clr.$colors, radial-gradient, 400);
    cursor: pointer;


    .profile-img
    {
        @include mixins.size(2.8125rem);
        margin: 0 0 0.5rem;
    }

    .profile-name
    {
        @include mixins.typography(clamp(func.map-deep-get(fs.$font_sizes, small, 400), 1.65vw,
            func.map-deep-get(fs.$font_sizes, large, 200)), center);
        color: white;
        text-overflow: ellipsis;
    }

    &:hover
    {
        background-image: radial-gradient(50% 40.76% at 50% 50%, #1A2980 0%, #27B1B0 100%);
    }

    &.active
    {
        @include mixins.flexColumn();
        @include mixins.size(45%);
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: func.map-deep-get(clr.$colors, linear-gradient, 400);
        animation: 300ms active-profile ease-in-out forwards;
        z-index: 2;
        cursor: default;


        .topbar, ul
        {
            width: 100%;
            padding: 0.75rem;
            min-height: 0;
            overflow-y: hidden;
        }

        .topbar
        {
            @include mixins.flexSpaceBetween();
            border-bottom: 1px solid white;

            & div
            {
                @include mixins.flexCenter();

                .profile-img
                {
                    @include mixins.size(2.5rem);
                    margin-right: 0.5rem;
                }

                .profile-name
                {
                    text-align: left;
                }
            }
        }

        ul
        {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            color: white;
            overflow-y: hidden;


            li
            {
                @include mixins.typography(clamp(func.map-deep-get(fs.$font_sizes, small, 200), 1.45vw,
                    func.map-deep-get(fs.$font_sizes, large, 100)), left);
                
                & + li
                {
                    margin-top: 0.25rem;
                }
            }

            &[role='menu'] li
            {
                @include mixins.flexCenter();
                cursor: pointer;

                .menu-icon
                {
                    @include mixins.typography(clamp(func.map-deep-get(fs.$font_sizes, small, 200), 1.45vw,
                        func.map-deep-get(fs.$font_sizes, large, 100)), left);
                    color: inherit;
                    margin-right: 0.75rem;
                }

                &:hover
                {
                    color: yellow;
                }
            }
        }
    }
}