@use "../abstracts/mixins";


@keyframes fade-in
{
    0% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes fade-out
{
    0% {visibility: visible;}
    100% {visibility: hidden;}
}

@keyframes active-profile
{
    0% {
        border-radius: 50%;
    }
    100% {
        transform: translate(-50%, -50%);
        }
}