$font_sizes: (
    small: (
        100: 0.875rem,
        200: 1rem,
        300: 1.125rem,
        400: 1.25rem
    ),
    large: (
        100: 1.5rem,
        200: 1.75rem,
        300: 2rem,
        400: 2.25rem
    )
)