$font_sizes: (
    small: (
        100: 0.875rem, // 14px
        200: 1rem, // 16px
        300: 1.125rem, // 18px
        400: 1.25rem // 20px
    ),
    large: (
        100: 1.5rem, // 24px
        200: 1.75rem, // 28px
        300: 2rem, // 32px
        400: 2.25rem // 36px
    )
)