.grid
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, minmax(9.375rem, 25rem));
    place-items: center;
    overflow: hidden;

    &.fade-in
    {
        animation: 300ms fade-in ease-in-out forwards;
    }

    &.fade-out
    {

        & .profile:not(.active)
        {
            display: none;
        }
    }
}