.grid
{
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1.25rem;
    grid-template-columns: repeat(3, minmax(21.875rem, 31.25rem));
    justify-items: center;
    align-items: center;
}